@page "/people"

@using personWebServer.Data
@inject PeopleService PeopleService

<h1>List of People</h1>

@if (people == null)
{
    <p><em>Loading...</em></p>
    
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in people)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.personId</td>

            </tr>
        }
        </tbody>
    </table>
}
    @code {

        private Data.People[] people;

        protected override async Task OnInitializedAsync()
        {
            people = await PeopleService.GetPeopleAsync();
        }

    }
