@page "/people"

@using Microsoft.AspNetCore.Http
@using personWebServer.Data
@inject PersonService PersonService

<h1>List of People</h1>
<p>@buttonStatus</p>
<button class="btn btn-primary" @onclick="CreatePerson" >Click me</button>

@if (people == null)
{
    <p><em>Loading...</em></p>
    
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in people)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.personId</td>

            </tr>
        }
        </tbody>
    </table>
}
    @code {

        private Data.Person[] people;

        protected override async Task OnInitializedAsync()
        {
            people = await PersonService.GetPeopleAsync();
        }

        private String buttonStatus = "Not clicked";
        private void CreatePerson()
        {
            buttonStatus = "Clicked!";
            PersonService.PostPerson();
        }

    }
